<section  class="hero">
<picture>
  <source media="(max-width: 599px)" srcset="img/daisy-wood-sm.jpeg">
  <source media="(min-width: 600px)" srcset="img/daisy-wood.jpeg">
  <img src="img/daisy-wood-sm.jpeg" alt="Picture of a daisy on a stump">
</picture>

{# <div> #}
{# <h2>Welcome!</h2> #}
{# <p>  I'm so happy you are here.  </p> #}
<p>Are you looking for ideas and resources that will make your life easier and more joyful?  I’ve got you! </p>
<button>Let’s do this together!</button>
{# </div> #}

</section>
<p class="purpose">Are you looking for ideas and resources that will make your life easier and more joyful?  I’ve got you! Let’s do this together! </p>

