<section  class="hero">
<picture>
  <source media="(max-width: 599px)" srcset="img/daisy-wood-sm.jpeg">
  <source media="(min-width: 600px)" srcset="img/daisy-wood.jpeg">
  <img src="img/daisy-wood-sm.jpeg" alt="Picture of a daisy on a stump">
</picture>

<div>
<h2>Welcome!</h2>
<p>  I'm so happy you are here. I love connecting people to places, ideas and resources that can help make life easier and more enjoyable. </p>
</div>

</section>
