<section  class="hero">
<div>
<h2>Welcome!</h2>
<p>  I'm so happy you are here. I love connecting people to places, ideas and resources that can help make life easier and more enjoyable. I also love connecting with people and I hope we can become good friends. </p>
</div>

</section>
