<section class="interest-list">
  {% for post in collections['start here'] | reverse %}
    <div class="media-box">
      <a href="{{ post.url | url }}">
        <img src="/{{ post.data.image }}">
          <h2>
            {% if post.data.title %}
              {{ post.data.title }}
            {% else %}
              <code>{{ post.url }}</code>
            {% endif %}
          </h2>
        </a>
      </div>
    {% endfor %}
  </section>
