.fancy-title {
  font-family: $headline-script-font;
  text-align: center;
  font-size: var(--s1);
  font-weight: normal;
  padding: 5px 8px;
  color: var(--yellow);
  letter-spacing: 1px;
  position: relative;

  margin: 0;
  &:visited {
    color: var(--yellow);
  }
  &::before,
  &::after {
    border-top: 1px solid var(--yellow);
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 80px;

    height: 3px;
    margin-top: -1px;
  }
  &:before {
    left: 0;
    right: auto;
  }
}
.fancy-title--small {
  &:before {
    left: -60px;
    right: auto;
    width: 50px;
  }
  &:after {
    left: auto;
    right: -60px;
    width: 50px;
  }
}
