.oil-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @include breakpoint(small) {
    flex-direction: row;
    gap: var(--s1);
  }
  > div {
    width: 100%;
    border: 1px solid var(--lightgray);
    box-shadow: 0 5px 5px 0 var(--lightgray), 0 0 0 1px var(--lightgray);
    border-radius: 10px;
    padding: var(--s1) var(--s4);
    @include breakpoint(small) {
      width: 30%;
      padding: var(--s1) var(--s1);
    }
  }
}
