.pagination-controls {
  h2 {
    display: none;
  }
  ol {
    display: flex;
    list-style-type: none;
    padding-left: 0;
  }
  li {
    padding: var(--s-2) var(--s-1);
  }
  [aria-current] {
    text-decoration: underline;
    font-weight: bold;
  }
}
