---
layout : layouts/base.njk
templateClass : tmpl-page
---
 <div class="page-list">
  <h1 class="post-title"> {{ title }}</h1>
  {{ content | safe }}
  <section>
    <img class="no-format-img" src="/img/Start-Here-1.jpeg" alt="image of essential oil bottles">
      <div>
        <h2>Start Here</h2>
        <ul>
          <li><a href="welcome/">Welcome</a></li>
          <li><a href="safety/">Oil Safety</a></li>
          <li><a href="topoils/">Top 12 Oils</a></li>
          <li><a href="membership/">Your Membership Perks</a></li>
          <li><a href="difference/">The DoTERRA Difference</a></li>
        </ul>
      </div>
    </section>
    <section>
      <img class="no-format-img" src="/img/familyboy.jpeg" alt="image of a smiling boy holding essential oils">
        <div>
          <h2>Oils for the Family</h2>
          <ul>
            <li><a href="oils-for-kids/">Oils for Kids</a></li>
            <li><a href="womens-health">Women's Health</a></li>
            <li><a href="mens-health">Men's Health</a></li>
            <li><a href="pets">Pets</a></li>
            <li><a href="emotional-health">Emotional Health</a></li>
          </ul>
        </div>
      </section>
      <section>
        <img class="no-format-img" src="/img/chips-and-salsa.jpeg" alt="image of chips and salsa with cilantro essential oil">
          <div>
            <h2>Fun Ways to Use Your Oils</h2>
            <ul>
              <li><a href="food-recipes/">Food Recipes</a></li>
              <li><a href="rollerball/">Rollerball Blends</a></li>
              <li><a href="DIY-fun/">DIY Fun</a></li>
              <li><a href="cleaning/">Cleaning</a></li>

            </ul>
          </div>
        </section>
        <section>
          <img class="no-format-img" src="/img/giving.jpeg" alt="image of a smiling young woman">
            <div>
              <h2>Giving Back</h2>
              <ul>
                <li><a href="healing-hands/">dōTERRA Healing Hands</a></li>
                <li><a href="days-for-girls/">Days for Girls</a></li>
                <li><a href="operation-underground-railroad/">Operation Underground Railroad</a></li>

              </ul>
            </div>
          </section>
          <section>
            <img class="no-format-img" src="/img/Passion-5ml.jpeg" alt="image of a bottle of Passion essential oil">
              <div>
                <h2>Education</h2>
                <ul>
                  <li><a href="educational-resources/">Educational Resources</a></li>
                  <li><a href="newsletter/">Newsletter</a></li>

                  <li><a href="continuing-education/">Continuing Education</a></li>

                </ul>
              </div>
            </section>

            </div>
